<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/head.css">
</head>

<body>
    <script>
    var pid= '<%=data[0].PID%>'
        
        
    </script>
   
    <%include template/header.ejs %>

    <div class="pro-bar">
        <div class="product-nav">
            <div class="pro-name">
                <h2><%=data[0].PName%></h2>
                <span class="spacer">|</span>
                <a href="#"> <%=data[0].PName%> </a>
            </div>
            <div class="pro-about">
                <a href="#">概述</a>
                <span class="spacer">|</span>
                <a href="#">参数</a>
                <span class="spacer">|</span>
                <a href="#">F码通道</a>
                <span class="spacer">|</span>
                <a href="/comment?pid=<%=data[0].PID%>">用户评价</a>
            </div>
        </div>
    </div>
    <div class="pro-det">
        <div class="img-scroll">
            <div class="swiperWrapper f1">

                <img src="<%=data[0].img1%>" alt="">

            </div>
            <div class="swiperWrapper">

                <img src="<%=data[0].img2%>" alt="">

            </div>
            <div class="swiperWrapper">

                <img src="<%=data[0].img3%>" alt="">

            </div>
            <div class="swiperWrapper">

                <img src="<%=data[0].img3%>" alt="">

            </div>
            <div class="swiperWrapper">

                <img src="<%=data[0].img5%>" alt="">

            </div>
            <div class="swiper_button_prev">&lt;</div>
            <div class="swiper_button_next">&gt;</div>
            <div class="swiper_pagination">
                <ul class="swiper_pagination_ul">
                    <li data-idx="0" class="smallShow"></li>
                    <li data-idx="1"></li>
                    <li data-idx="2"></li>
                    <li data-idx="3"></li>
                    <li data-idx="4"></li>
                </ul>
            </div>

        </div>
        <div class="pro-pro">
            <!-- 产品描述 -->
            <div class="pro-des">
                <h1 class="name"><%=data[0].Title%></h1>
                <p class="sale-desc">
                    <span class="colo"><%=data[0].Favorable%></span><%=data[0].Abstract%>
                </p>
                <p class="aftersale-company">小米自营</p>
                <div class="pro-price">
                    <span><%=data[0].ShoppPrice%><del><%=data[0].CostpPrice%></del></span>
                </div>
                <!-- 优惠价部分 -->
                <div class="proSeckill clearfix">
                    <div class="pro-time-head">
                        <span><img src="img/seckill-icon.png" alt="" srcset="">超值价</span>
                        <div class="sectime right">心动不如行动</div>
                    </div>
                    <div class="pro-time-con">
                        <span class="pro-time-price">￥<em><%=data[0].ShoppPrice%></em>
                            <%if(data[0].CostpPrice){%>
                            <del>￥<emclass="J_seckillPriceDel"><%=data[0].CostpPrice%></em></del>
                            <%}%>
                        </span>
                    </div>
                </div>
                <div class="flow-wrap">
                    <ul>
                        <li>
                            <span class="flow-tag">赠完即止</span>
                            <span class="flow-name">赠Redmi充电宝</span>
                        </li>
                    </ul>
                </div>
                <div class="user-default-address">
                    <i>&#xe608;</i>
                    <div>
                        <div class="address-info">
                            <span class="item">四川</span>
                            <span class="item">成都市</span>
                            <span class="item">锦江区</span>
                            <span class="item">成龙路街道</span>
                        </div>
                        <span class="switch-choose-regions"> 修改 </span>
                    </div>
                    <div class="product-status active">
                        <span class="sale">有现货</span>
                    </div>
                </div>
            </div>
            <!-- 关于产品的选择 -->
            <div class="pro-choose">
                <!-- 选择版本 -->
                <div class="choosecolor">
                    <h2>选择版本</h2>
                    <ul class="step-list step-one clearfix">
                        <% if(data[0].vers1){ %>
                        <li class="btn btn-biglarge active">
                            <a href="javascript:void(0);" class="step-name">
                                <span class="name"><%= data[0].vers1%> </span>
                                <span class="price"><%= data[0].vers1_pri%> </span>
                            </a>
                        </li>
                        <% } %>
                        <% if(data[0].vers2){ %>
                        <li class="btn btn-biglarge ">
                            <a href="javascript:void(0);" class="step-name">
                                <span class="name" value="<%= data[0].vers2%>"><%= data[0].vers2%> </span>
                                <span class="price"><%= data[0].vers2_pri%> </span>
                            </a>
                        </li>
                        <% } %>
                        <% if(data[0].vers3){ %>
                        <li class="btn btn-biglarge">
                            <a href="javascript:void(0);" class="step-name">
                                <span class="name"><%= data[0].vers3%> </span>
                                <span class="price"><%= data[0].vers3_pri%> </span>
                            </a>
                        </li>
                        <% } %>
                        <% if(data[0].vers4){ %>
                        <li class="btn btn-biglarge">
                            <a href="javascript:void(0);" class="step-name">
                                <span class="name"><%= data[0].vers4%> </span>
                                <span class="price"><%= data[0].vers4_pri%> </span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!-- 已选择的产品 -->
            <div class="pro-list">
                <h4><%=data[0].Title%></h4>
                <ul class="verul">
                    <li><%=data[0].vers1%>
                        <span> <%=data[0].vers1_pri%>元 </span>
                    </li>
                    <li class="totlePrice" data-name="seckill"> 总价 ：<%=data[0].vers1_pri%>元 </li>
                </ul>
            </div>
            <!-- 用户按钮 -->
            <div class="btn-wrap">
                <%if(loginState){%>
                    <button class="buy">加入购物车</button>
                    <button class="like"><a href="#"><i>❤</i>喜欢</a></button>
                <%}else{%>
                    <button class="buy"><a href="login.html">请先登录再加入购物车</a></button>
                    <button class="like"><a href="login.html">❤喜欢</a></button>
                
                <%}%>
                
                
            </div>
        </div>
    </div>
    <!-- 价格说明 -->
    <section>
        <div class="pd-bar">
            <h2>价格说明</h2>
            <img src="img/pricedes.jpeg" alt="" srcset="">
        </div>
    </section>
    
    <%include template/footer.ejs %>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src="js/details.js"></script>
    <script src="js/logout.js"></script>

</body>

</html>