<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改个人信息</title>
    <link rel="stylesheet" href="stylesheets/PersonalDetails.css">
</head>

<body>
    <div class="base">
        <div class="title">
            <div class="logo">
            </div>
            <div class="text">小米帐号</div>
        </div>
        <div class="info">
            <div class="avatar">
                <img src=<%=avatar%> alt="">
                <h2>SHR：<%=nickname%></h2>
                <span>ADDRESS：<%=address%></span>
                <span>EMAIL：<%=email%></span>
                <span>TEL：<%=mobile%></span>
                <span class="id">ID：<%=uid%></span>
            </div>
            <form action="" method="post">
                <div class="details">
                    <ul>
                        <li><span>昵称：</span><input type="text" placeholder=<%=nickname%>>
                        </li>
                        <li><span>性别：</span>
                            <%if(gender){ %>
                            <input type="radio" name="gender" id="male" checked>
                            <label for="male">男</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" id="female">
                            <label for="female">女</label>
                            <%}else{ %>
                            <input type="radio" name="gender" id="male">
                            <label for="male">男</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" id="female" checked>
                            <label for="female">女</label>
                            <%}%>
                                </li>
                                <li><span>生日：</span>
                                    <select name="year" id=""></select>
                                    <i>年</i>
                                    <select name="year" id="">
                                    </select>
                                    <i>月</i>
                                    <select name="" id="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                    <i>日</i></li>
                                <li><span>邮箱：</span><input type="email" placeholder=<%=email%>>&nbsp;&nbsp;<b
                                class="email iconfont"></b></li>
                        <li><span>联系电话：</span><input type="tel" placeholder=<%=mobile%>>&nbsp;&nbsp;<b
                                class="tel iconfont"></b></li>
                        <li><span>地址：</span><input type="text" name="" id="" placeholder=<%=address%>></li>
                        <li>
                            <input type="submit" class="ensure" value="确定"></input>
                            <input type="reset" class="reset" value="重置"></input>
                            <input type="button" class="cancel" value="取消"></input>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <!-- 修改个人资料 -->
    <div class="popup_mask">
        <!-- 上传头像 -->
        <div class="mod_acc_tip">
            <div class="mod_tip_hd">
                <h4>修改头像</h4>
                <a href="" class="btn_mod_close" onclick="return false;"></a>
            </div>
            <div>
                <div class="wapbox">
                    <div class="wap_title_big">
                        请上传图片：
                    </div>
                    <div class="uplode_img">
                        <input class="btn_commom" type="button" value="上传头像" onclick="return false;">
                        <input class="uplodefile" type="file" autocomplete="off" disableautocomplete>
                    </div>
                    <p>图片格式jpg、png、jpeg，大小不超过10MB</p>
                </div>
                <div class="tip_btns">
                    <a href="" onclick="return false;" class="a1 astyle">取消</a>
                </div>
            </div>
        </div>
        <!-- 修改头像 -->
        <div class="alertface">
            <div class="mod_tip_hd">
                <h4>修改头像</h4>
                <a href="" class="btn_mod_close" onclick="return false;"></a>
            </div>
            <div class="clipimg">
                <div class="can">
                    <div class="box">
                        <div class="imgBox"></div>
                        <div class="gray"></div>
                        <div class="background"></div>
                    </div>
                </div>
            </div>
            <div class="tip_btns">
                <input id="confirm" type="submit" value="确认"></input>
                <a href="" onclick="return false;" class="a2 astyle">重新上传</a>
            </div>
        </div>
    </div>
</body>
<script src='https://cdn.bootcss.com/jquery/3.4.1/jquery.js'></script>
<script src="js/personal_details.js"></script>

</html>